{% extends "base.html" %}
{% block title_suffix %}{{ t.about_title_suffix }}{% endblock %}

{% block content %}
<section class="page-header">
    <h1>{{ t.about_h1 }}</h1>
    <p>{{ t.about_intro }}</p>
</section>

<section class="two-column">
    <div class="column">
        <article class="info-box">
            <h3>{{ t.about_doctor_h }}</h3>
            <p>{{ t.about_doctor_p }}</p>
        </article>

        <article class="info-box">
            <h3>{{ t.about_focus_h }}</h3>
            <ul>
                <li>{{ t.about_focus_l1 }}</li>
                <li>{{ t.about_focus_l2 }}</li>
                <li>{{ t.about_focus_l3 }}</li>
            </ul>
        </article>
    </div>

    <div class="column">
        <article class="info-box">
            <h3>{{ t.about_philosophy_h }}</h3>
            <ul>
                <li>{{ t.about_philosophy_l1 }}</li>
                <li>{{ t.about_philosophy_l2 }}</li>
                <li>{{ t.about_philosophy_l3 }}</li>
            </ul>
        </article>

        <article class="info-box">
            <h3>{{ t.about_languages_h }}</h3>
            <ul>
                <li>{{ t.about_languages_l1 }}</li>
                <li>{{ t.about_languages_l2 }}</li>
                <li>{{ t.about_languages_l3 }}</li>
            </ul>
        </article>
    </div>
</section>
{% endblock %}
